.App {
    /* display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Rubik; */
    
}

.fill {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; */
    background-color: #0f172a;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    height: 100vh;
    width: 100%;
    
}
.already-error-text {
    text-align: center;
    color: red;
}

.sessionButton {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.nav {
    align-items: center;
    background-color: #141414;
    box-shadow: 0 2px 2px #0a0a0a;
    color: #fff;
    display: flex;
    flex-direction: row;
    grid-column: 1/13;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
